<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Interesting Articles</h1>
        </div>
    </section>
    <div class="articles">
        <h1>The Value of Money</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="img/Value of money.jpeg" alt="The Value Of Money">
                    <figcaption><i>The True Value Of Money</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>The time value of money is the widely accepted conjecture that there is greater benefit to receiving a sum of money now rather than an identical sum later. It may be seen as an implication of the later-developed concept of time preference.

                        The time value of money is among the factors considered when weighing the opportunity costs of spending rather than saving or investing money. As such, it is among the reasons why interest is paid or earned: interest, whether it is on a bank deposit or debt, compensates the depositor or lender for the loss of their use of their money. Investors are willing to forgo spending their money now only if they expect a favorable net return on their investment in the future, such that the increased value to be available later is sufficiently high to offset both the preference to spending money now and inflation (if present); see required rate of return.<cite><a
                                href="https://en.wikipedia.org/wiki/Present_value.">Identifying
                                the True Value of Money</a></cite> by Wikipedia, the free encyclopedia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>GMO food</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="img/Food.jpeg" alt="GMO food">
                    <figcaption><i>GMO food</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>A paddy field is a flooded field of arable land used for growing semiaquatic crops, most notably rice and taro. It originates from the Neolithic rice-farming cultures of the Yangtze River basin in southern China, associated with pre-Austronesian and Hmong-Mien cultures. It was spread in prehistoric times by the expansion of Austronesian peoples to Island Southeast Asia, Southeast Asia including Northeastern India, Madagascar, Melanesia, Micronesia, and Polynesia. The technology was also acquired by other cultures in mainland Asia for rice farming, spreading to East Asia, Mainland Southeast Asia, and South Asia.<cite><a
                                href="https://en.wikipedia.org/wiki/South_Asia">GMO food</a></cite>  by Wikipedia, the free encyclopedia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="articles">
        <h1>The View of World in 2100</h1>
        <div class="image-content">
            <div class="image-box">
                <figure class="article-image">
                    <img class="img-in-box" src="img/world.jpeg" alt="The View of World in 2100">
                    <figcaption><i>Artificial Word 2100</i></figcaption>
                </figure>
            </div>
            <div class="content-box">
                <div class="content">
                    <p>Earth 2100 is a television program that was presented by the American Broadcasting Company (ABC) network on June 2, 2009, and was aired on the History Channel in January 2010 and was shown through the year. Hosted by ABC journalist Bob Woodruff, the two-hour special explored what "a worst-case" future might look like if humans do not take action on current or impending problems that could threaten civilization. The problems addressed in the program include current climate change, overpopulation, and misuse of energy resources.<cite><a
                                href="https://en.wikipedia.org/wiki/American_Broadcasting_Company">Identifying
                                the The View of World in 2100</a></cite> byAmerican Broadcasting-Paramount Theatres .</p>
                </div>
            </div>
        </div>
    </div>
</div>