<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Interesting Portfolio</h1>
        </div>
    </section>
    <h1>Portfolio</h1>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art1.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art2.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art3.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art4.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art5.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
        <div class="portfolio-box">
            <div class="portfolio-image-container">
                <img class="img-in-box" src="img/Art6.jpeg" alt="art number 1">
            </div>
            <div class="iamge-name">
                <p>Art Work</p>
            </div>
        </div>
    </div>
</div>